@import '~antd/dist/antd.less';

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

canvas {
  display: block;
  border: 1px solid black;
  margin: auto;
}

header {
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  padding: 20px;

  .wave {
    margin-bottom: 32px;
  }
}
