@import '~antd/dist/antd.dark.css';

* {
  box-sizing: border-box;
}

body {
  background-color: #353535 !important;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

canvas {
  display: block;
}

button.ant-btn:hover {
  color: aqua;
  border-color: aqua;
}
